body{
    font-family: 'Iceland';
    font-size: 30px;
    background-color: black;
    color: white;
    background-image: url(fundo.jpeg);
    background-repeat: repeat;
    background-size: auto;
}

@media screen and (max-width: 400px){
    body{background-color: blue;}
}

.header{
    margin-left: -20px;
    margin-top: 10px;
}

.logo{
    margin-left: 50px;
}

.inicio{
    margin-left: 600px;
    margin-top: -75px;
    display: flex;
}

.plasma{
    margin-left: 780px;
    margin-top: -59px;
}

.propulsao{
    margin-left: 976px;
    margin-top: -59px;
}

.aplicacoes{
    margin-left: 1190px;
    margin-top: -59px;
}

.logo-ifc{
    margin-left: 50px;
    margin-top: 450px;
}

.logo-insta{
    margin-left: 450px;
    margin-top: -60px;
}

.logo-email{
    margin-left: 800px;
    margin-top: -60px;
}

.logo-telefone{
    margin-left: 1100px;
    margin-top: -61px;
}

.satelite{
    margin-left: 450px;
    margin-top: 300px;
}

.topico-titulo{
    margin-left: 50px;
    margin-top: 400px;
}

.topico-texto{
    margin-left: 50px;
}

.topico-plasma{
    margin-left: 0px;
    margin-top: 100px;
}

.topico-propulsao{
    margin-left: 500px;
    margin-top: -200px;
}

.topico-aplicacoes{
    margin-left: 0px;
    margin-top: -250px;
}

.input{
    margin-left: 50px;
    background-color: black;
    border-color: white;
    width: 900px;
    height: 60px;
}

.newsletter{
    margin-left: 0px;
    margin-top: -250px;
}

.footer{
    margin-top: -150px;
}

.titulo-conteudo{
    margin-left: 560px;
    margin-top: 200px;
}

.oq-é-plasma{
    margin-left: 10px;
}

.pra-q-usado{
    margin-left: 660px;
    margin-top: -1114px;
}

.input-plasma{
    margin-left: 200px;
    margin-top: 30px;
    background-color: black;
    border-color: white;
    width: 900px;
    height: 60px;
}

.inputs{
    margin-top: 200px;
}

.texto-propulsao{
    margin-left: 50px;
    margin-top: 400px;
}

.mapa-mental{
    margin-top: 400px;
    margin-left: 500px;
}